body {
    background-color: rgba(1,68,13,255);
    background-position: center;
    background-size: fit;
    margin: 0;
}


h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 64px;
}

.inputField {
    height: 35px;
    width: 200px;
    border-radius: 5px;
    font-size: 24px;
    border: 4px solid rgb(0, 0, 0);
    font-family: "Righteous", sans-serif;
}

.searchButton {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #ffe032;
    font-size: 24px;
    border: 4px solid black;
    cursor: pointer;
    font-family: "Righteous", sans-serif;
}

.pokemonSearch {
    margin-top: 550px;
}

.header {
    height: 500px;
    background-image: url('image/landscape2\ schnitt.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 12px black;
}

.pokemon-card {
    border: 8px solid black;
    width: 300px;
    height: 400px;
    border-radius: 40px;
    margin: 40px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition: background-color 0.2s, transform 0.3s;
}

.hover{

}

.hover:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
}

.pokemonImage {
    height: 200px;
    width: 200px;
    margin: 20px;
}

.name {
    font-size: 32px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.type-icon {
    height: 120px;
    margin-right: 4px;
    margin: 24px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.typeContainer {
    display: flex;
    height: 80px;
    display: flex;
    justify-content: center;
}

.siteChanger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.previousPageButton,
.nextPageButton {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s;
}

.previousPageButton::before,
.nextPageButton::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
}

.previousPageButton::before {
    border-right-color: #ffffff;
}

.nextPageButton::before {
    border-left-color: #ffffff;
}

.previousPageButton:hover,
.nextPageButton:hover {
    transform: scale(1.2);
}

.actualPage {
    font-size: 40px;
    color: #ffffff;
    font-family: "Righteous", sans-serif;

}

.backToFirstPage {
    width: 80px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s;
    position: relative;
}

.backToFirstPage::before,
.backToFirstPage::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 15px 15px 0;
    border-color: transparent #ffffff transparent transparent;
    transform: translate(-50%, -50%);
}

.backToFirstPage::after {
    left: 65%; /* Adjust this value if needed to space the arrows correctly */
    transform: translate(-50%, -50%);  /* Keeps the second arrow aligned with the first */
}

.backToFirstPage:hover {
    transform: scale(1.2);
}


.d-none {
    display: none;
}


.openedCard {
    font-family: "Righteous", sans-serif;    
    font-size: 24px;
    position: fixed;         /* Fixed Positionierung relativ zum Viewport */
    top: 50%;                /* Setzt den oberen Rand des Elements in die Mitte des Viewports */
    left: 50%;               /* Setzt den linken Rand des Elements in die Mitte des Viewports */
    transform: translate(-50%, -50%); /* Verschiebt das Element zurück um seine eigene halbe Breite und Höhe */
    width: 50%;              /* Breite des Elements */
    height: 70%;             /* Höhe des Elements */
    border: 8px solid black; /* Rahmen des Elements */
    border-radius: 40px;     /* Abgerundete Ecken */
    box-shadow: 10px 10px 20px rgb(0, 0, 0); /* Schatten für bessere Sichtbarkeit */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;  /* Hintergrundfarbe */
    color: #ffffff;             /* Textfarbe */
    padding: 20px;           /* Innenabstand */
    box-sizing: border-box;  /* Box-Sizing, damit Padding und Border in die Breite und Höhe einbezogen werden */
}

.openedPokemonImage {
    height: 240px;
    margin-right: 8%;
    margin-left: 4%;
    
}

.openedCardHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.openedCardBody{
    height: 100%;
    width: 100%;
}

.typeName{
    font-family: "Righteous", sans-serif;   
    font-size: 40px;
    color: #ffffff;
}

.openedTypeContainer{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 16px;
    justify-content: center;
}

.description {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 32px;
    text-align: center;
}

.previousPokemonButton,
.nextPokemonButton {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s;
}

.previousPokemonButton::before,
.nextPokemonButton::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px;
    border-color: transparent;
}

.previousPokemonButton::before {
    border-right-color: #ffffff;
}

.nextPokemonButton::before {
    border-left-color: #ffffff;
}

.previousPokemonButton:hover,
.nextPokemonButton:hover {
    transform: scale(1.2);
}

.bar-chart {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 8px;
}

.bar {
    height: 40px;
    background-color: #00f9e4;
    margin: 5px;
    color: rgb(0, 0, 0);
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 16px;
    border: #ffffff solid 3px;
    width: 0%; /* Start width at 0 */
    animation: loadBar 2s forwards; /* Apply the animation */
}


.bar:hover {
    opacity: 0.8; /* Slight transparency on hover */
}

.stats{
    font-size: 24px;
    margin: 40px;
    color: #ffffff;
}

b {
    color: black;
}


/* Grundlegende Stile für die opened card */
.openedCard {
    width: 50%;              /* Breite des Elements */
    height: 70%;             /* Höhe des Elements */
    padding: 20px;           /* Innenabstand */
    /* Weitere Stile */
}

/* Media Query für Bildschirme kleiner als 1800px */
@media (max-width: 1800px) {
    .openedCard {
        width: 70%;          /* Erhöhe die Breite, um mehr Platz zu nutzen */
        height: auto;        /* Höhe auf auto setzen, um Überlauf zu vermeiden */
        padding: 10px;       /* Reduziere den Innenabstand */
    }

    .openedCard .openedPokemonImage {
        height: 150px;       /* Reduziere die Größe der Bilder */
    }

    .openedCard .description,
    .openedCard .statsContainer,
    .openedCard .typeContainer {
        font-size: 20px;
        color: #ffffff;    
    }

    .openedCard .bar {
        height: 30px;        /* Reduziere die Balkenhöhe im Balkendiagramm */
    }

    .stats{
        font-size: 16px;
        margin: 20px;
    }

    .bar {
        font-size: 12px;
    }

    .type-icon {
        height: 120px;
    }

    h1 {font-size: 40px;}
}
